{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La Mortebase</title>
  {# Bootstrap #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {# CSS #}
  {% block css %}{% endblock %}
</head>

<body>
  <div id="mb" class="mb">

    {# Nav #}
    <nav class="mb-nav">
      <a href="{% url 'main:index' %}"><img class="mb-logo" src="{% static 'main/img/logo.png' %}" alt="Logo Morte-Flamme" /></a>

      <ul class="mb-nav-menu list-group">
        <li class="list-group-item">
          <button data-toggle="collapse" data-target="#mb-nav-skill-trees">Système</button>
          <ul id="mb-nav-skill-trees" class="list-group collapse">
            <li class="list-group-item"><a href="{% url 'main:branches' %}">Toutes les Branches</a></li>
            <li class="list-group-item"><a href="#">À venir</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <button data-toggle="collapse" data-target="#mb-nav-characters">Mes personnages</button>
          <ul id="mb-nav-characters" class="list-group collapse show">
            <li class="list-group-item"><a href="#">À venir</a></li>
            <li class="list-group-item mb-nav-create-character"><a href="#">Créer un nouveau personnage</a></li>
          </ul>
        </li>
      </ul>

      <div class="mb-user-panel">
        {% if user.is_authenticated %}
          {{ user.username }} | <a href="{% url 'main:logout' %}">Déconnexion</a>
        {% else %}
          <a href="{% url 'main:login' %}">Connexion</a> | <a href="{% url 'main:signup' %}">Inscription</a>
        {% endif %}
      </div>
    </nav>

    {% block content %}{% endblock %}
  </div>

  {# Bootstrap #}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {# JS #}
  {% block js %}{% endblock %}
</body>
</html>
