{% load render_bundle from webpack_loader %}

{% block css %}
{% render_bundle 'skillTree' 'css' %}
{% endblock %}

{% block js %}
{% render_bundle 'skillTree' 'js' %}
{% endblock %}

{% block content %}
<div class="hv-wrapper">

  <div class="hv-item">

    <div class="hv-item-parent">
      <p class="treenode"> Armurier </p>
    </div>

    <div class="hv-item-children">

      <div class="hv-item-child">
        <div class="hv-item">

          <div class="hv-item-parent">
            <p class="treenode"> Provocation </p>
          </div>

          <div class="hv-item-children">

            <div class="hv-item-child">
              <div class="hv-item">

                <div class="hv-item-parent">
                  <p class="treenode"> Prévoyance </p>
                </div>
      
                <div class="hv-item-children">
      
                  <div class="hv-item-child">
                    <p class="treenode"> Menace </p>
                  </div>
                </div>
      
              </div>
            </div>

            <div class="hv-item-child">
              <div class="hv-item">

                <div class="hv-item-parent">
                  <p class="treenode"> Insulte fatale </p>
                </div>
      
                <div class="hv-item-children">
      
                  <div class="hv-item-child">
                    <p class="treenode"> Invective </p>
                  </div>
                </div>
      
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="hv-item-child">
        <div class="hv-item">

          <div class="hv-item-parent">
            <p class="treenode"> Obstination </p>
          </div>

          <div class="hv-item-children">

            <div class="hv-item-child">
              <div class="hv-item">

                <div class="hv-item-parent">
                  <p class="treenode"> Ignorance </p>
                </div>
      
                <div class="hv-item-children">
      
                  <div class="hv-item-child">
                    <p class="treenode"> Second souffle </p>
                  </div>
                </div>
      
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="hv-item-child">
        <p class="treenode"> Porte de fer </p>
      </div>

    </div>

  </div>

</div>
{% endblock %}